<div class="container">
  <div class="wrapper">
    <div class="img_section">
      <div class="default_info">
        <h2 class="default_day">{{ currentDay | date : "EEEE" }}</h2>
        <span class="default_date">{{
          currentDay | date : "dd MMMM YYYY"
        }}</span>
        <div class="icons" *ngIf="weatherData">
          <img src="{{ weatherData.current.condition.icon }}" alt="" />
          <h2 class="weather_temp">{{ weatherData.current.temp_c }}°C</h2>
          <h3 class="cloudtxt">{{ weatherData.current.condition.text }}</h3>
        </div>
      </div>
    </div>
    <div class="content_section">
      <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
        <input
          type="text"
          placeholder="Search Location"
          class="input_field"
          [(ngModel)]="city"
          name="city"
        />
        <button type="submit" class="btn_search">Search</button>
      </form>

      <div class="day_info" *ngIf="weatherData">
        <div class="content">
          <p class="title">NAME</p>
          <span class="value">{{ weatherData.location.name }}</span>
        </div>
        <div class="content">
          <p class="title">TEMP</p>
          <span class="value">{{ weatherData.current.temp_c }}°C</span>
        </div>
        <div class="content">
          <p class="title">HUMIDITY</p>
          <span class="value">{{ weatherData.current.humidity }}%</span>
        </div>
        <div class="content">
          <p class="title">WIND SPEED</p>
          <span class="value">{{ weatherData.current.wind_kph }} Km/h</span>
        </div>
      </div>

      <div class="list_content">
        <ul>
          <li>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" />
            <span>Sat</span>
            <span class="day_temp">23°C</span>
          </li>
          <li>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" />
            <span>Sat</span>
            <span class="day_temp">23°C</span>
          </li>
          <li>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" />
            <span>Sat</span>
            <span class="day_temp">23°C</span>
          </li>
          <li>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" />
            <span>Sat</span>
            <span class="day_temp">23°C</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
